body{
    font-family: sans-serif;
}

td{
    border:1px solid #80ced6 ;
    padding:10px ;
}
td {

}

ul {
    list-style-type: square;
}

ul{
    background-color:#f0fff8 ;
    padding:30px ;
    border:1px solid #80ced6 ;
    border-radius:10px ;
}

p{
    background-color:#f0fff8 ;
    padding:30px ;
    border:1px solid 
    #80ced6 ;
    border-radius:10px ;
}
table{
    background-color:#f0fff8 ;
    
    border:1px solid #80ced6 ;

  width: 100%;
}

body{
    max-width: 1320px;
    width: 60%;
    
    margin-inline: auto;
}